
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.top-row {
    background-color: #212529;
    border-bottom: 1px solid #1a1a1a;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1.5rem;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .top-row a, .top-row .btn-link {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}
